/*
COMO SEPARAR ARCHIVOS EN HTML
COMO COLOCAR DOS IMAGENES JUNTAS DE DISTINTO TAMAÑO CON MISMA ALTURA
COMO CENTRAR TITULO EN THUMBNAILS
*/


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: black;
  color: white;
}

.container-fluid {
  width: 92%;
  margin: auto;
}
